app-1.0.0-win64/
Makefile*
node_modules/
release/
*.zip
.qmake.stash
debug/
*.pro.*
OpenSSL/
build-openssl.bat
build-openssl.pbat
list.txt
mirror-mingw.bat
mirror-mingw.pbat
openssl-1.1.1n.tar.gz
openssl-1.1.1n/
x86_64-8.1.0-release-posix-seh-rt_v6-rev0.7z
x86_64-8.1.0-release-posix-sjlj-rt_v6-rev0.7z
x86_64-8.1.0-release-win32-seh-rt_v6-rev0.7z
x86_64-8.1.0-release-win32-sjlj-rt_v6-rev0.7z
__pycache__/
5.15.2/
package-lock.json
package.json
Tools/
aqtinstall.log
main.bat
