aqtinstall==2.0.6
argcomplete==2.0.0
beautifulsoup4==4.10.0
Brotli==1.0.9
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
idna==3.3
multivolumefile==0.2.3
packaging==21.3
patch==1.16
pipx==1.0.0
py7zr==0.18.0
pybcj==0.5.0
pycryptodomex==3.14.1
pyparsing==3.0.7
pyppmd==0.17.4
pyzstd==0.15.2
requests==2.27.1
semantic-version==2.9.0
soupsieve==2.3.1
texttable==1.6.4
urllib3==1.26.8
userpath==1.8.0
zipfile-deflate64==0.2.0
